# OpenAI
OPENAI_API_KEY=sk-xxx

# Anthropic
ANTHROPIC_API_KEY=sk-ant-xxx

# Google
# GOOGLE_API_KEY=xxx

# openrouter
# OPENROUTER_API_KEY=xxx

# LangSmith (optional, for tracing)
# LANGSMITH_API_KEY=xxx
# LANGSMITH_TRACING=true
# LANGSMITH_PROJECT=langchain-v1-examples

# Tavily (for search tool)
# TAVILY_API_KEY=tvly-xxx
